<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/{{style}}">
        <style>
          nav {
            background-color: #080000;
            overflow: hidden;
            padding: 10px;
          }
          
          nav a {
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            text-align: center;
          }
          
          nav a:hover {
            background-color: #ddd;
            color: black;
          }
        </style>
    </head>
    <body>
          <nav>
      {{#if user}}
        <span>Hola, {{user.first_name}}</span>
        <a href="/profile">Perfil</a>

        {{#if (eq user.role "admin")}}
          <a href="/admin">Panel Admin</a>
        {{/if}}

        <a href="/logout">Salir</a>
      {{else}}
        <a href="/login">Login</a>
        <a href="/register">Registro</a>
      {{/if}}
    </nav>

        {{{body}}}

    </body>
</html>